@import url(https://fonts.googleapis.com/css?family=Caveat);

a:link {
  color: rgba(0, 255, 208);
}

/* visited link */
a:visited {
  color: rgb(0, 255, 208);
}

/* mouse over link */
a:hover {
  color: rgb(255, 105, 245);
}

/* selected link */
a:active {
  color: rgb(255, 136, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading,
.main_heading {
  color: rgb(0, 255, 247);
  font-family: Caveat;
}
.main_heading {
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(11, 213, 220), 0 0 82px rgb(11, 213, 220),
    0 0 92px rgb(11, 213, 220), 0 0 102px rgb(11, 213, 220),
    0 0 151px rgb(11, 213, 220);
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h2,
h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
p,
li {
  color: rgb(255, 242, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  margin-left: 30px;
}
ol {
  padding-left: 15px;
}
p {
  margin-bottom: 50px;
  padding: 10px;
}
body {
  background-image: url(city2.jpeg);
  background-attachment: fixed;
  background-size: 200%;
  background-position: center;
}

/* background: #06ffe6;
  background: -moz-linear-gradient(top, #04ffff 0%, #ff80ff 50%, #590059 100%);
  background: -webkit-linear-gradient(
    top,
    #06ffe6 0%,
    #ff80ff 50%,
    #590059 100%
  );
  background: linear-gradient(to bottom, #06ffe6 0%, #ff80ff 50%, #590059 100%); */

img {
  display: block;
  border: 9px solid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#face {
  border: 9px solid;
  height: 300px;
}
#pigeon {
  clip-path: circle();
  border-radius: 200%;
  margin-top: 40px;
  margin-bottom: 40px;
}
